<div class='card'>
    <div class='card-header'>
        {{title}}
    </div>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>BOOK TITLE</th>
                        <th>BOOK IMAGE</th>
                        <th>AUTHOR</th>
                        <th>CATEGORIES</th>
                        <th>BOOK DESCRIPTION</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let book of books'>
                        
                        <td>{{ book.bookName }}</td>
                        <td><img class="rounded-circle mt-5" [src]="getImageUrl(book)" /></td>
                        <td>{{ book.bookAuthor }}</td>
                        <td>{{ book.bookCategory }}</td>
                        <td>{{ book.bookDescription }}</td>
                        <td>
                            <button class="btn btn-success" style="cursor:pointer" style="margin-right: 20px;">Read</button>
                        </td>
                        <td>
                          <button class="btn btn-warning" style="cursor:pointer"  style="margin-right: 20px;"> Edit</button>
                          <button class="btn btn-danger" style="cursor:pointer"> Delete</button>
                        </td>
                      </tr>   
                </tbody>
            </table>
        </div>

    </div>

</div>


