<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">BookNPen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
      
    </div>
  </nav>
  <!-- start of header -->
  <div id="templatemo_header">
  </div> <!-- end of header -->
<div>
  <div class="container">
    <h3>BROWSE GENRES</h3><br>
    <div class="row">
      <div class="card text-white col-md-6 col-lg-4">
        <img src="assets/images/tempest.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Alice Liddel</h5>
            <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
            <a href="#" class="btn btn-primary stretched-link">View Profile</a>
        </div>
    </div>
    <div class=" card text-white col-md-6 col-lg-4">
      <img src="assets/images/tempest.jpg" class="card-img-top img-fluid" alt="...">
      <div class="card-img-overlay">
          <h5 class="card-title">Alice Liddel</h5>
          <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
          <a href="#" class="btn btn-primary stretched-link">View Profile</a>
      </div>
  </div>
  <div class=" card text-white col-md-6 col-lg-4">
    <img src="assets/images/tempest.jpg" class="card-img-top img-fluid" alt="...">
    <div class="card-img-overlay card-block">
        <h5 class="card-title">Alice Liddel</h5>
        <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
    </div>
</div>
    </div>

  </div>
  </div>

  <router-outlet></router-outlet>-