
<section>
    <div class="container-md">
        <div class="text-center">
            <h2>
                Inside the Book ..
            </h2>
            <p class="lead text-muted">
                A quick glance at the topics your'll learn.
            </p>
        </div>
        <div class="row my-5 g-5 justify-content-around align-items-center">
            <div class="col-6 col-lg-4">
                <img src="../../../assets/images/cinderella.jpg" class="img-fluid" alt="">
            </div>
            <!-- Accordion -->
            <div class="accordion" id="chapters">
                <div class="accordion-item">
                    <h2 id="heading-1" class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#preface" aria-expanded="true" aria-controls="preface">
                            Preface
                        </button>
                    </h2>
                    <div id="preface" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-target="#preface">
                        <div class="accordion-body">
                            <p>
                                Something blah blah blah blah blah.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>