<div class="container my-5 pt-5 shadow">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title text-center">
                <div class="title-text">
                    <h2>Authors List</h2>
                </div>
            </div>
        </div>
        <!-- /.col end-->
    </div>
    <!-- row end-->
    <div class="row">
        <div class="col-lg-12">
                    <div class="table-responsive rounded shadow m-5 p-4">
                        <table class="table p-4">
                            <thead>
                                <tr>
                                    <th scope="col">Authors Image</th>
                                    <th scope="col">Authors Name</th>
                                    <th class="text-center" scope="col">About Author</th>
                                    <th class="text-center" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="inner-box" *ngFor="let author of authors; index as i">
                                    <td>
                                        
                                        
                                        <img style="width: 100px; border-radius: 50px; padding: 5px;" class="shadow" src="assets/images/files/{{author.authorimage}}" alt="" />
                                        
                                    </td>
                                    <td>
                                        <div class="event-wrap">
                                            <h4><a>{{author.authorname}}</a></h4>
                                        </div>
                                    </td>   
                                    
                                    <th scope="row">
                                        <div class="event-date text-center">
                                            <span>{{author.aboutauthor}}</span>
                                        </div>
                                    </th>
                                    
                                    
                                    <td *ngIf="_auth.userRoleAccess()">
                                        <button class="btn btn-warning" style="cursor:pointer"  style="margin: 20px;" (click)="editAuthor(author)"> Edit</button>
                                        <button class="btn btn-danger" style="cursor:pointer" (click)="deleteAuthor(author)"> Delete</button>
                                      </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                </div>

              
<!-- /col end-->
    </div>
</div>